.userDiv {
    width: 100%;
    height: 100%;
    h1 {
        text-align: center;
    }
    .inputGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .loginForma {
        max-width: 500px;
        height: 300px;
        width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 15px;
        margin-top: 100px;
        background-color: whitesmoke;
    }
    span {
        color: red;
        font-size: 8px;
        display: flex;
        margin: auto;
        width: 80%;
        margin-top: 2px;
    }
    label {
        font-size: 1.55em;
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .loginInput {
        display: block;
        width: 80%;
        height: 20px;
        outline: none;
        margin: auto;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #777;
        font-size: 0.75em;
    }
    .loginInput.error {
        border-color: red;
    }
    .input-feedback {
        color: rgb(235, 54, 54);
        margin-top: -15px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .loginButton {
        padding: 10px 15px;
        background-color: rgb(70, 153, 179);
        color: white;
        border-radius: 15px;
        border: 1px solid rgb(70, 153, 179);
        background-color: 250ms;
        margin-top: 20px;
        display: block;
        width: 85%;
        height: 40px;
        margin: auto;
        font-size: 0.8em;
    }
    .loginButton:hover {
        cursor: pointer;
        background-color: white;
        color: rgb(70, 153, 179);
    }
    img {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}