.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21798d;

    .formWrapper {
        width: 400px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 10px 50px #555;
        background-color: #ffffff;

        .header {
            text-align: center;
            width: 100%;
            color: #111;
            font-weight: lighter;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;        
        }

        .createSurveyForm {
            margin-bottom: 15px;

            .desc {
                display: block;
                width: 100%;
                justify-content: center;

                .opisLabel {
                    font-size: 0.8em;
                    margin-bottom: 0.25em;
                    color: #222;
                    font-weight: lighter;
                }
        
                .description {
                    width: 80%;
                    max-width: 380px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    flex-direction: column;
                }    
            }

            .active {
                display: block;
                width: 100%;
                justify-content: center;

                .activeLabel {
                    font-size: 0.8em;
                    margin-bottom: 0.25em;
                    color: #222;
                    font-weight: lighter;
                }    

                .radioGroup {
                    .radioGroupLabel {
                        margin-right: 15px;
                        margin-left: 15px;
                    }

                    .isActive {
                        margin-right: 5px;
                    }
                }
            }
        }      
    }
}